{{> header}}

  <button type="button" name="sine__button">
  click for sine
  </button>

  <script src="../js/libraries/jquery-3.3.1.min.js"></script>
  <script src="../js/libraries/mustache.js"></script>
  <script src="../js/libraries/maxlib.js"></script>
  <script src="../js/osc.js"></script>

{{> footer}}
